<h1><%= $user_first_name %></h1>
<p><%= link_to "Request new headling for Category 1", "../user/updateCategory/1" %>
<p><%= link_to "Request new headling for Category 2", "../user/updateCategory/2" %>

<p><%= link_to "log out", logout_path %>
